<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

<style>
    table {
        width: 100%;
    }
    input {
        width: 100%;
    }
</style>

<div id="vue" class="pt-5 mt-5">
    <nav class="navbar fixed-top navbar-light bg-light">
        <a class="navbar-brand">Translate</a>
        <span>Logged in as: {{user.name}}</span>
        <form class="form-inline m-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" v-model="filter">
        </form>
    </nav>
    <div class="container-fluid" v-if="unauthorized">
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger">
                    Bad credentials.
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" v-if="!unauthorized">
        <div class="row">
            <aside class="col-12 col-lg-3">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-12">
                        <div class="form-group">
                            <label>Users</label>
                            <ul class="list-group">
                                <li v-for="(user, index) in connectedUsers" class="list-group-item" v-bind:style="{border: `1px solid rgba(${user.color.r}, ${user.color.g}, ${user.color.b}, .75)`, color: `rgba(${user.color.r}, ${user.color.g}, ${user.color.b}, 1)`}">
                                    <i class="fa fa-user"></i>
                                    {{user.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-12" v-if="values.length === 0">
                        <div class="card p-3 mb-3">
                            <div class="form-group">
                                <label for="inputJs">Upload files</label>
                                <div class="custom-file">
                                    <input class="custom-file-input" type="file" multiple v-on:change="loadFiles" accept=".js" id="inputJs">
                                    <label class="custom-file-label" for="inputJs">Choose js files</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-12" v-if="values.length > 0">
                        <label>Download files</label>
                        <button v-for="(fileName, index) in fileNames" type="button" class="btn btn-primary btn-block" v-on:click="download('js', fileName)">
                            <i class="fa fa-file-download"></i>
                            {{fileName}}
                        </button>
                    </div>
                    <div class="col-12 col-md-6 col-lg-12" v-if="values.length === 0">
                        <div class="card p-3 mb-3">
                            <div class="form-group">
                                <label for="inputCsv">Upload csv</label>
                                <div class="custom-file">
                                    <input class="custom-file-input" type="file" v-on:change="loadCsv" accept=".csv" id="inputCsv">
                                    <label class="custom-file-label" for="inputCsv">Choose csv file</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-12" v-if="values.length > 0">
                        <div class="form-group">
                            <label>Download csv</label>
                            <button type="button" class="btn btn-primary btn-block" v-on:click="download('csv', 'translate.csv')">
                                <i class="fa fa-file-download"></i>
                                translate.csv
                            </button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-12" v-if="values.length > 0">
                        <label for="newTranslate">New language</label>
                        <form class="form-inline" v-on:submit="addLanguage">
                            <input type="text" class="form-control mb-2 mr-sm-2" id="newTranslate" placeholder="en" v-model="newTranslate">
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        </form>
                    </div>
                    <div class="col-12 col-md-6 col-lg-12" v-if="values.length > 0">
                        <label for="newField">New field</label>
                        <form class="form-inline" v-on:submit="addField">
                            <input type="text" class="form-control mb-2 mr-sm-2" id="newField" v-model="newField">
                            <button type="submit" class="btn btn-primary mb-2">Submit</button>
                        </form>
                    </div>
                </div>
            </aside>
            <section class="col-12 col-lg-9">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th class="align-middle"><i class="fa fa-trash"></i></th>
                            <th>Index</th>
                            <th v-for="(val, key) in values[0]">
                                {{key}}
                                <button type="button" v-if="key !== 'key'" class="btn btn-danger btn-sm" v-on:click="removeLanguage(key)" tabindex="-1">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(translate, index) in visibleValues">
                            <td class="align-middle">
                                <button type="button" v-on:click="removeField(i)" class="btn btn-danger btn-sm" tabindex="-1">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                            <th class="align-middle" scope="col">{{+index + 1}}</td>
                            <td class="align-middle" v-for="(val, key) in translate">
                                <input type="text" :disabled="key === 'key' || disabledFields.some(field => field.index == index && field.key == key && field.user != user.name)"
                                       v-bind:title="(disabledFields.some(field => field.index == index && field.key == key) ? `Editing by: ${disabledFields.find(field => field.index == index && field.key == key).user}` : '')"
                                       v-bind:style="(disabledFields.some(field => field.index == index && field.key == key) ? {background: `rgba(
                                            ${connectedUsers.find(user => user.name === disabledFields.find(field => field.index == index && field.key == key).user).color.r},
                                            ${connectedUsers.find(user => user.name === disabledFields.find(field => field.index == index && field.key == key).user).color.g},
                                            ${connectedUsers.find(user => user.name === disabledFields.find(field => field.index == index && field.key == key).user).color.b},
                                            .25
                                        )`} : {})"
                                       v-model="values[index][key]"
                                       v-on:focus="focusField($event, index, key)"
                                       v-on:blur="releaseField($event, index, key)"
                                       v-on:keyup="updateField($event, index, key)"
                                       v-bind:class="'form-control ' + (key !== 'en.js' && key !== 'key' && values[index][key] === values[index].key ? 'is-invalid' : '')">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>

<script type="application/javascript">
    function capitalize(string) {
        string = string.toLowerCase();
        return string.charAt(0).toUpperCase() + string.slice(1);
    }

    const app = new Vue({
        el: '#vue',
        data: {
            fileNames: [],
            filter: '',
            newField: '',
            newTranslate: '',
            unauthorized: false,
            values: [],
            disabledFields: [],
            user: {},
            connectedUsers: [],
        },
        created () {
            this.getUser();
            this.connectToSocket();
        },
        computed: {
            visibleValues: function() {
                let v =  this.values.filter((row) => {
                    if (this.filter === '') return true;
                    return Object.values(row).some(val => new RegExp(this.filter.toLowerCase()).test(val.toLowerCase()));
                });
                return v;
            },
        },
        methods: {
            getUser: function () {
                var req = new XMLHttpRequest();
                req.open('GET', document.location, false);
                req.send(null);
                var headers = req.getAllResponseHeaders().toLowerCase();
                this.user = JSON.parse(headers.split('\n').find(h => h.includes('user: ')).split(': ')[1]);
            },
            connectToSocket: function() {
                this.ws = new WebSocket(`ws://${window.location.hostname}:40510?name=${this.user.name}&pass=${this.user.pass}`);
                this.ws.onopen = () => {};
                this.ws.onmessage = (ev) => {
                    let message = JSON.parse(ev.data);
                    switch (message.type) {
                        case 'updateTranslates':
                            if (message.data.length > 0) {
                                this.filter = '';
                                this.values = message.data;
                                this.fileNames = Object.keys(this.values[0]).filter(key => key !== 'Desc' && key !== 'key');          
                            }
                            break;
                        case 'updateDisabledFields':
                            this.disabledFields = message.data;
                            break;
                        case 'updateConnectedUsers':
                            this.connectedUsers = message.data;
                            break;
                        case 'unauthorized':
                            this.unauthorized = true;
                            break;
                        default:
                            break;
                    }
                };
            },
            loadFiles: async function(e) {
                let { target } = e;
                let { files } = target;
                let v = [];
                let o = await Promise.all([...files].map((file) => {
                    return new Promise((resolve, reject) => {
                        const reader = new FileReader();
                        reader.onload = (event) => {
                            const result = event.target.result.replace(/\n+|\s{2}|(export default {|})/gm, '');
                            values = result.replace(/^"/, '').replace(/"$/, '').split(`","`).map((row) => {
                                let key = row.split(/": "|":"/)[0];
                                let value = row.split(/": "|":"/)[1];
                                
                                if (v.some(t => t.key === key)) {
                                    v[v.findIndex(t => t.key === key)] = {
                                        ...v[v.findIndex(t => t.key === key)],
                                        [file.name]: value,
                                    }
                                } else {
                                    v.push({
                                        key: key,
                                        [file.name]: capitalize(value),
                                    });
                                }

                                return {
                                    [key]: value
                                };
                            });
                            resolve(values);
                        }
                        reader.onerror = error => reject(error)
                        reader.readAsText(file) // you could also read images and other binaries
                    });
                }));
                this.filter = '';
                this.fileNames = [...files].map((file) => file.name);
                this.values = v.map(t => { return {...t} });
                this.updateTranslates();
            },
            loadCsv: function(e) {
                let { target } = e;
                let { files } = target;
                let file = files[0];
                const reader = new FileReader();
                reader.onload = (event) => {
                    const result = event.target.result;
                    let arrays = result.split(/\n/)
                        .map((row) => {
                            let values = [];
                            if (row.includes('"')) {
                                values = row.split(/","|,"|"|((?<=[\w\d|\(|\)])(,)(?=[\w\d|\(|\)]))/gm).filter(val => val !== '' && val !== ',' && val !== undefined);
                            } else {
                                values = row.split(/,/gm);
                            }
                            return values;
                        })
                        .filter(values => !values.every(value => value === ''));
                    let keys = arrays.shift();
                    let v = arrays.map((values) => {
                        return values.reduce((acc, cur, i) => {
                            return {
                                ...acc,
                                [keys[i]]: capitalize(cur)
                            };
                        }, {});
                    }).map((obj) => {
                        delete obj.Desc;
                        return {
                            ...obj,
                            key: obj['en.js']
                        }
                    });
                    this.filter = '';
                    this.fileNames = [...keys].filter(key => key !== 'key' && key !== 'Desc');
                    this.values = v.map(t => { return {...t} });
                }
                reader.onerror = error => console.error(error)
                reader.readAsText(file) // you could also read images and other binaries
                this.updateTranslates();
            },
            output(filename) {
                let out = this.values.map((translate) => {
                    return `    "${translate.key}": "${translate[filename]}"`;
                }).join(',\n');
                out = 'export default {\n' + out + '\n}';
                return `data:application/csv;charset=utf-8,${encodeURI(out)}`;
            },
            outputCSV: function() {
                if (this.values[0]) {
                    let keys = Object.keys(this.values[0]);
                    let out = this.values
                        .map((obj) => {
                            return `"${Object.values(obj).join('","')}"`;
                        });
                    out.unshift(`"${keys.join('","')}"`);
                    out = out.join('\n');
                    return `data:application/csv;charset=utf-8,${encodeURI(out)}`;
                }
            },
            download(format, fileName) {
                let link = document.createElement('a');
                switch (format) {
                    case 'csv':
                        link.setAttribute('download', fileName);
                        link.setAttribute('href', this.outputCSV());
                        link.click();
                        break;
                    case 'js':
                        link.setAttribute('download', fileName);
                        link.setAttribute('href', this.output(fileName));
                        link.click();
                        break;
                    default:
                        break;
                }
                link.remove();
                link = undefined;
            },
            handleFilter: function(e) {
                let { target } = e;
            },
            addLanguage: function(e) {
                e.preventDefault();
                this.ws.send(JSON.stringify({
                    key: 'addLanguage',
                    data: this.newTranslate
                }));
                this.newTranslate = '';
            },
            removeLanguage(key) {
                this.fileNames = this.fileNames.filter(name => name !== key);
                this.values.forEach(value => {
                    delete value[key];
                });
                this.updateTranslates();
            },
            addField: function(e) {
                e.preventDefault();
                if (this.values.some(translate => translate.key === this.newField)) return;
                this.values.push(this.fileNames.reduce((acc, cur) => {
                    return {
                        ...acc,
                        [cur]: this.newField
                    }
                }, {
                    key: this.newField,
                }));
                this.values = this.values.sort((a, b) => a.key > b.key ? 1 : -1);
                this.newField = '';
                this.updateTranslates();
            },
            focusField: function(e, index, key) {
                this.ws.send(JSON.stringify({
                    key: 'focusField',
                    data: { index, key },
                }));
            },
            releaseField: function(e, index, key) {
                this.ws.send(JSON.stringify({
                    key: 'releaseField',
                    data: { index, key },
                }));
            },
            updateField: function(e, index, key) {
                let { target } = e;
                this.values[index][key] = target.value;
                this.updateTranslates();
            },
            removeField: function(index) {
                this.values.splice(index, 1);
                this.updateTranslates();
            },
            updateTranslates: function() {
                this.ws.send(JSON.stringify({
                    key: 'updateTranslates',
                    data: this.values
                }));
            },
        }
    });
</script>